*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.skills {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff00;
    font-family: 'Sergoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.skills-cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
}

.skills-cards .skills-cards-cards {
    position: relative;
    width: 200px;
    height: 350px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.18);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.skills-cards .skills-cards-cards .card-content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.skills-cards .skills-cards-cards:hover .card-content {
    transform: translateY(0px);
    opacity: 1;
}

